<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- java class를 mapping 한다. -->
<mapper namespace="mapper.MemberMapper">
	<resultMap type="dto.MemberDTO" id="member">
		<id column="id" property="id"/>
		<result column="passwd" property="pass"/>
		<result column="name" property="name"/>
		<result column="age" property="age"/>
		<result column="gender" property="gender"/>
		<result column="address" property="address"/>
	</resultMap>
	
	<select id="login" parameterType="map" resultMap="member" resultType="dto.MemberDTO">
		select * from member where id = #{id} and passwd = #{passwd}
	</select>
	
	<select id="selectTopAge3" resultMap="member" resultType="dto.MemberDTO">
		<![CDATA[
		select m.* from (select * from member ORDER BY age desc) m where rownum <= 3
		]]>
	</select>
	
	<select id="selectMemberList" resultMap="member" resultType="dto.MemberDTO">
		select * from member
		<choose>
			<when test="kind == null">
			
			</when>
			<otherwise>
				where ${kind} like '%' || #{search} || '%'
			</otherwise>
		</choose>
	</select>
	
	<select id="selectMemberDTO" resultType="dto.MemberDTO" resultMap="member">
		select * from member where id = #{id}
	</select>
	
	<insert id="insertMemberDTO" parameterType="dto.MemberDTO">
		insert into member values(#{id},#{pass},#{name},#{age},#{gender},#{address})
	</insert>
	
	<delete id="deleteMemberDTO" parameterType="String">
		delete from member where id = #{id}
	</delete>
	
	<update id="updateMemberDTO" parameterType="dto.MemberDTO">
		update member set passwd = #{pass}, name = #{name}
		, age = #{age}, gender = #{gender}, address = #{address} 
		where id = #{id}
	</update>
	
</mapper>